# Binarios, Compilados y Temporales
*.tmp
*.log
*.zip
*.exe
*~
terceros_crud
main

go.mod
go.sum

# Variables de entorno - ignorar todas
*.env
# Excepto una plantilla
!.template.env
# y el env_file que importaría docker-compose
!.develop.env

# IDEs y otros
.vscode/
.scannerwork/

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
